.transaction {
  display: flex;
  height: 100%;
}
.transactionContainer {
  background-color: #f3f4f6;
  padding: 50px 40px;
  flex: 4;
}
.transactionContainer h1 {
  font-size: 24px;
  color: #646464;
}
.trans-search {
  display: flex;
  align-items: center;
  background-color: #e5e7eb;
  width: 100%;
  height: 40px;
  border-radius: 10px;
}
.trans-search input {
  background-color: transparent;
  border: none;
  outline: none;
  margin-left: 10px;
  width: 100%;
}
/* table {
  
  height: 70vh;
  overflow: scroll;
  margin: 50px 0px;
  border-spacing: 15px;
  display: flex;
  justify-content: space-between;
  color: #646464;
}

tr {
  margin-bottom: 20px;
}

th {
  width: 250px;
  text-align: left;
  font-size: 20px;
}

td {
  width: 250px;
  font-size: 20px;
} */
/* 
.trans-table {
  border-collapse: collapse;
  margin: 50px 0;
  font-size: 0.9em;
  min-width: 400px;
  min-height: 100px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
}
.trans-table thead {
  background-color: #055983;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.trans-table td {
  align-items: center;
}
.a-head {
  padding-left: 100px;
} */

.trans-table {
  width: 100%;
  border-collapse: collapse;
}

.trans-table td,
.trans-table th {
  /* padding: 12px 15px; */
  text-align: left;
  font-size: 16px;
}

.trans-table th {
  background-color: darkblue;
  color: #ffffff;
}

.trans-table tbody tr:nth-child(even) {
  background-color: #f5f5f5;
}

@media only screen and (max-width: 675px) {
  .transactionContainer {
    width: 100%;
  }
  /* .date-head,
  .date-body {
    display: none;
  } */
  .trans-table thead {
    display: none;
  }

  .trans-table,
  .trans-table tbody,
  .trans-table tr,
  .trans-table td {
    display: block;
    width: 100%;
  }
  .trans-table tr {
    margin-bottom: 15px;
  }
  .trans-table td {
    text-align: right;
    position: relative;
  }

  /* .trans-table td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
  } */
}
